/ ------------------- inner --------------
.container-fluid.coninner
  .row-fluid
    .span3
      %h5 Your Music
      %h6{:style => "color:#4CA5FF;"} Favorites
      %h6{:style => ""} History
      %h6{:style => ""} Find Music For
      %select{:style => "width:100%;"}
        %option{:value => "volvo"} Volvo
        %option{:value => "saab"} Saab
        %option{:value => "opel"} Opel
        %option{:value => "audi"} Audi
      %span{:style => " margin-top:250px;"}
        %img{:src => "/assets/the_language.png"}/
    .span9
      %span{:style => "float:left;"}
        %h6{:style => "color:#4CA5FF;"} Violin >
      %span{:style => "float:right; "}
        %form.navbar-search.pull-left
          %input.search-query{:placeholder => "Search", :type => "text"}/
      .clearfix
      .bs-docs-example
        %hr.bs-docs-separator/
        %span
          %img{:src => "/assets/drop_box.png"}/
          Concertos
        %hr.bs-docs-separator/
        %span
          %img{:src => "/assets/drop_box.png"}/
          Short Pieces
        %hr.bs-docs-separator/
        %span
          %img{:src => "/assets/drop_box.png"}/
          Sonatas
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
/ -------------------End inner --------------